__pycache__
data/face_keypoints
data/face_keypoints_src
data/face_keypoints_dst
data/lfw_src/*
!data/lfw_src/.gitkeep
data/lfw_dst
data/vggface_src/*
!data/vggface_src/.gitkeep
data/vggface_bbox_dst
data/vggface_keypoints_dst
data/src/*.csv
data/dst
/weights/*
!/weights/*.z*
test.png
